.product-detail-slider{
    position: relative;
    width: 100%;
    overflow: hidden;
    &-wrapper{
        position: relative;
        width: 100%;
        padding-right: 20px;
        .swiper-slide{
            max-width: 580px !important;
            text-align: left;
            img{
                width: 100%;
                max-width: 600px;
            }
        }
    }
}

.ems-prd-detail{
    &-inner{
        display: inline-block;
        vertical-align: top;
        width: 100%;
        > div{
            display: inline-block;
            vertical-align: top;
            width: 50%;
        }
        .inner-row-1{
        }
        .inner-row-2{
            text-align: left;
            &-inner{
                max-width: 600px;
            }
        }
    }
}